/* counter.css */
body{
    background-color: #333;
}
.counter-container {
  background-color: #f0f0f0; /* خلفية رمادي فاتح */
  width: 300px;
  margin: 50px auto;
  margin-top: 90px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  font-family: 'Digital-7', monospace; /* لو عايز شكل ديجيتال */
}

.counter-display {
  font-size: 4rem; /* رقم كبير */
  color: #333;
  margin-bottom: 20px;
}

.counter-input {
  width: 80%;
  margin-bottom: 20px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 1.2rem;
}

.btn-counter {
  width: 80px;
  margin: 5px;
  font-size: 1.5rem;
}
